.DS_Store
package-lock.json
node_modules
README.html
*.xpi
*.sw*
.vimrc
.env
addon.env

src/web-ext-artifacts/*
web-ext-artifacts

# JetBrains IDE files
.idea

# Visual Studio Code
.vscode/

# IstanbulJS
.nyc_output
coverage

# yarn
.yarn-meta
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
